{% extends "base.html" %}

{% block content %}
  <h2>📘 Thêm sách mới</h2>
  <form method="post">
    <label>Tiêu đề:</label>
    <input type="text" name="title" required><br>

    <label>Tác giả:</label>
    <input type="text" name="author" required><br>

    <label>Số trang:</label>
    <input type="number" name="n_pages" min="1" required><br><br>

    <button type="submit">➕ Thêm sách</button>
  </form>

  <p><a href="{{ url_for('admin_panel') }}">⬅ Quay lại trang quản trị</a></p>
{% endblock %}
