{% extends "base.html" %}

{% block content %}
  <h2>Đăng ký</h2>
  <form method="post">
    <label>Họ và tên:</label>
    <input type="text" name="name" required><br>
    <label>ID:</label>
    <input type="text" name="user_id" required><br>
    <label>Mật khẩu:</label>
    <input type="password" name="password" required><br><br>
    <button type="submit">Tạo tài khoản</button>
  </form>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

  <p>Đã có tài khoản? <a href="{{ url_for('login') }}">Đăng nhập</a></p>
{% endblock %}
